body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #246eb4;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
nav {
    margin: 10px 0;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    padding: 5px 10px;
    background-color: #555;
    border-radius: 5px;
}
nav a:hover {
    background-color: #444;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.project {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.project h2 {
    margin-top: 0;
}
.project p {
    line-height: 1.6;
}
.lien{
    text-decoration: none;
    color: #246eb4;
}